name: Build OpenJDK 11 for Android

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build_android:
    strategy:
      matrix:
        arch: [ "aarch32", "aarch64", "x86", "x86_64" ]
      fail-fast: false

    name: "Build for Android ${{matrix.arch}}"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: set up JDK 11
      uses: actions/setup-java@main
      with:
        java-version: 11.0.26
        distribution: zulu
        
    - name: Install build dependencies
      run: |
        sudo apt update
        sudo apt -y install systemtap-sdt-dev libxtst-dev libasound2-dev libelf-dev libfontconfig1-dev libx11-dev libxext-dev libxrandr-dev libxrender-dev libxtst-dev libxt-dev

    - name: Build with CI build script
      run: bash "ci_build_arch_${{matrix.arch}}.sh"

    - name: Upload JRE build output
      uses: actions/upload-artifact@v4
      with:
        name: 'jre11-${{matrix.arch}}'
        path: jre11*.tar.xz

  fcl:
    needs: build_android
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Get jre11-aarch32
      uses: actions/download-artifact@v4
      with:
        name: jre11-aarch32
        path: fcl

    - name: Get jre11-aarch64
      uses: actions/download-artifact@v4
      with:
        name: jre11-aarch64
        path: fcl

    - name: Get jre11-x86
      uses: actions/download-artifact@v4
      with:
        name: jre11-x86
        path: fcl

    - name: Get jre11-x86_64
      uses: actions/download-artifact@v4
      with:
        name: jre11-x86_64
        path: fcl

    - name: Repack JRE
      run: bash "repack_jre.sh" $GITHUB_WORKSPACE/fcl $GITHUB_WORKSPACE/fcl/jre11-multiarch

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
          name: jre11-multiarch
          path: fcl/jre11-multiarch/*
